// Place all the styles related to the plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.plays-game h1 {
  font-size: 24px;
}

.plays-game2 h1 {
  font-size: 24px;
}

.plays-score h1 {
  font-size: 24px;
}



